<h2 mat-dialog-title class="dialog-title">Establecer Fecha Límite para el Plan de Trabajo</h2>

<mat-dialog-content class="dialog-content">
    <form [formGroup]="registroForm">
        <mat-form-field class="form-field" appearance="fill">
            <mat-label>Título</mat-label>
            <input matInput autocomplete="off" formControlName="titulo">
        </mat-form-field>

        <mat-form-field class="form-field" appearance="fill">
            <mat-label>Fecha Límite</mat-label>
            <input matInput [matDatepicker]="picker" formControlName="fecha" [min]="fechaMinima">
            <mat-hint>MM/DD/YYYY</mat-hint>
            <mat-datepicker-toggle matIconSuffix [for]="picker"></mat-datepicker-toggle>
            <mat-datepicker #picker></mat-datepicker>
        </mat-form-field>
    </form>
</mat-dialog-content>

<mat-dialog-actions align="end">
    <button mat-button mat-dialog-close class="dialog-action-button">Cancelar</button>
    <button mat-button (click)="guardarConfiguracion()" class="dialog-action-button">Crear</button>
</mat-dialog-actions>
