<div class="container">
    <div class="image-container">
        <div class="circular-image">
            <img [src]="imagenUrl || defaultImageUrl" alt="Imagen del Investigador">
        </div>
        <div class="upload-button">
            <input type="file" id="fileInput" (change)="onFileSelected($event)" hidden accept="image/*">
            <button *ngIf="!inputDeshabilitado" type="button" (click)="triggerFileInput()">+</button>
        </div>
        <div class="button-group">
            <button *ngIf="!inputDeshabilitado" class="boton-estilizado guardar" (click)="guardarDatos()" [disabled]="firstFormGroup.invalid">Guardar</button>
            <button *ngIf="!inputDeshabilitado" class="boton-estilizado cancelar" (click)="desactivarInput()">Cancelar</button>
        </div>

        <button *ngIf="inputDeshabilitado" class="boton-estilizado editar" (click)="activarInput()">Editar Perfil</button>
    </div>

    <form class="example-form" [formGroup]="firstFormGroup">
        <!-- Información Personal -->
        <h2>Información Personal</h2>
        <div class="personal-info">
            <div class="custom-input-container">
                <label for="tipodocumento">Tipo de documento</label>
                <mat-select panelClass="matRole" [value]="userData?.tipodocumento" formControlName="tipodocumento">
                    <mat-option *ngFor="let data of tipodpcumento" [value]="data">
                        {{data}}
                    </mat-option>
                </mat-select>
            </div>
            <div class="custom-input-container">
                <label for="numerodocumento">Número de documento</label>
                <input matInput formControlName="numerodocumento">        
            </div>
            <div class="custom-input-container">
                <label for="nombre">Nombres</label>
                <input matInput type="text" id="nombre" placeholder="Ingrese su nombre" formControlName="nombre">
                <mat-error *ngIf="firstFormGroup.get('nombre').invalid">
                    Por favor ingrese solo letras (sin números ni caracteres especiales).
                </mat-error>
            </div>      
            <div class="custom-input-container">
                <label for="apellidos">Apellidos</label>
                <input matInput type="text" id="apellidos" placeholder="Ingrese sus apellidos" formControlName="apellidos">
                <mat-error *ngIf="firstFormGroup.get('apellidos').hasError('pattern')">
                    Por favor ingrese solo letras y espacios (sin números ni caracteres especiales).
                </mat-error> 
            </div>
            <div class="custom-input-container">
                <label for="correo">Correo Institucional</label>
                <input matInput type="email" id="correo" placeholder="Ingrese su correo" formControlName="correo">
                <mat-error *ngIf="firstFormGroup.get('correo').hasError('pattern')">
                    Por favor ingrese un correo electrónico válido que termine en &#64;unbosque.edu.co.
                </mat-error>
            </div>               
        </div>

        <!-- Información Académica -->
    <h2>Información Académica</h2>
    <div class="academic-info">
            <div class="custom-input-container">
                <label for="lineainvestigacion">Línea Investigación</label>
                <mat-select panelClass="matRole" [value]="userData?.lineainvestigacion" formControlName="lineainvestigacion">
                <mat-option *ngFor="let data of lineainvestigacion1" [value]="data">
                    {{data}}
                </mat-option>
                </mat-select>
        </div>
        <div class="custom-input-container">
            <label for="unidadAcademica">Unidad Académica</label>
                <mat-select panelClass="matRole" [value]="userData?.unidadAcademica" formControlName="unidadAcademica">
                <mat-option *ngFor="let data of unidadAcademica1" [value]="data">
                    {{data}}
                </mat-option>
            </mat-select>
        </div> 
        <div class="custom-input-container">
            <label for="escalofonodocente">Escalofon Docente</label>
            <input matInput type="text" id="escalofonodocente" placeholder="Ingrese su escalafon docente" formControlName="escalofonodocente">
            <mat-error *ngIf="firstFormGroup.get('escalofonodocente').hasError('pattern')">
                Por favor ingrese solo letras y espacios (sin números ni caracteres especiales).
            </mat-error>
        </div>
        <div class="custom-input-container">
            <label for="horasestricto">Horarios Estricto</label>
            <input matInput type="number" id="horasestricto" placeholder="Ingrese horas estricto" required formControlName="horasestricto" oninput="this.value = this.value.replace(/[^0-9]/g, '');">
        </div>
        <div class="custom-input-container">
            <label for="horasformacion">Horarios Formación</label>
            <input matInput type="number" id="horasformacion" placeholder="Ingrese horas de formación" required formControlName="horasformacion" oninput="this.value = this.value.replace(/[^0-9]/g, '');">
        </div>
            
    </div>


        <br>
        <h2>Información Profesional</h2>
        <div class="academic-info">
            <div *ngIf="pregradoData.length">
                <h3><mat-icon style="margin: 0px 0px -6px 0px; color:burlywood">star</mat-icon> Pregados</h3>
                <ul>
                    <li *ngFor="let data of pregradoData">
                        <strong>{{data.titulo}}</strong> en {{data.institucion}} - {{data.fecha}}
                    </li>
                </ul>
            </div>
            <div *ngIf="posgradoData.length">
                <h3><mat-icon style="margin: 0px 0px -6px 0px; color:coral">grade</mat-icon> Posgrados</h3>
                <ul>
                    <li *ngFor="let data of posgradoData">
                        <strong>{{data.titulo}}</strong> en {{data.institucion}} ({{data.tipo}}) - {{data.fecha}}
                    </li>
                </ul>
            </div>
        </div>
        <br>&nbsp;
        <button class="boton-estilizado pregrado" (click)="openDialogoDetalle('Pregrado')">Cargar Pregrado</button>&nbsp;
        <button class="boton-estilizado posgrado" (click)="openDialogoDetalle('Posgrado')">Cargar Posgrado</button>
        <div class="academic-info"><br><br></div>
    </form>

</div> 