<mat-card class="example-card">
  <div class="login">
    <img src="./assets/img/login.png" width="150">
    <h3>Inicio de Sesión</h3>
    <form [formGroup]="loginForm">
      <mat-form-field class="ancho" appearance="outline">
        <mat-label>Usuario</mat-label>
        <input matInput autocomplete="off" formControlName="correo">
      </mat-form-field>
      <mat-form-field class="ancho" appearance="outline">
        <mat-label>Contraseña</mat-label>
        <input type="{{ hidePassword ? 'password' : 'text' }}" matInput autocomplete="off" formControlName="contrasena">
      </mat-form-field>
      <div class="checkbox-container">
        <mat-checkbox class="checkbox" (change)="togglePasswordVisibility($event.checked)">Mostrar contraseña</mat-checkbox>
      </div>
      <button class="ancho button" mat-raised-button style="background-color: #6AABA0; color: white;" (click)="login()">Ingresar</button>
      <br>
      <a (click)="openResetPasswordDialog()" style="color: #6AABA0; text-decoration: none; margin-top: 15px; display: inline-block; cursor: pointer;">¿Olvidó su contraseña?</a>
    </form>
  </div>

  <mat-tab-group dynamicHeight class="mat-tab">
    <mat-tab label="Información del grupo">
      <div class="tab-content">
        <div class="example-large-box">
          <img src="https://images.squarespace-cdn.com/content/v1/5f43e0c90ae7c17f8f8febbf/1624372945616-WCOAF6NAUO22J5BCPI2X/Enmascarar+grupo+3%402x.jpg" alt="Grupo de investigación">
          <div class="content">
            <h2>Grupo de Investigación OSIRIS & BIOAXIS</h2>
            <p class="info">
              Correo electrónico: osirisbioaxis&#64;unbosque.edu.co<br>
              Facultad de Ingeniería, Edificio Fundadores, piso 3<br>
              Universidad El Bosque, Bogotá, D. C. - Colombia
            </p>
          </div>
        </div>
        
        <div class="icons-container">
          <div class="icon-item">
            <mat-icon>settings</mat-icon>
            <h4>Misión del grupo</h4>
            <p>Aportar al mejoramiento de la salud y calidad de vida desde la investigación en ingeniería de los sistemas de información, el desarrollo sostenible y el uso de medios técnico-tecnológicos.</p>
          </div>
          <div class="icon-item">
            <mat-icon>fingerprint</mat-icon>
            <h4>Objetivos</h4>
            <p>Desarrollar proyectos de investigación y desarrollo tecnológico interdisciplinarios en las áreas de ingeniería de los sistemas de información, del desarrollo sostenible y del uso de medios técnico-tecnológicos.</p>
          </div>
          <div class="icon-item">
            <mat-icon>menu_book</mat-icon>
            <h4>Líneas de Investigación</h4>
            <p>
              <li>Ingeniería de software y sociedad</li>
              <li>Ingeniería para la salud y el desarrollo biológico</li>
              <li>Ingeniería y educación</li>
              <li>Ingeniería para la sostenibilidad de sistemas naturales</li>
            </p>
          </div>
        </div>
      </div>
    </mat-tab>
    <mat-tab label="Investigadores">
      <div class="tab-content">
        <mat-accordion>
          <mat-expansion-panel *ngFor="let user of users">
            <mat-expansion-panel-header>
              <mat-panel-title>
                <div class="investigador-header">
                  <img [src]="user.imagen?.imagen || 'assets/img/imagen.jpg'" alt="Foto de perfil" class="investigador-img">
                  <div class="investigador-info">
                    <div class="investigador-nombre">{{ user.nombre }} {{ user.apellidos }}</div>
                    <div class="investigador-correo">{{ user.correo }}</div>
                  </div>
                </div>
              </mat-panel-title>
            </mat-expansion-panel-header>
            
            <!-- Contenido del panel -->
            <div class="educacion">
              <div class="educacion-column">
                <h3 class="educacion-title">Pregrados</h3>
                <ul class="educacion-list">
                  <li *ngFor="let pregrado of getPregradosDeInvestigador(user.numerodocumento)">
                    <strong>{{ pregrado.titulo }}</strong>
                    <div>{{ pregrado.institucion }}</div>
                    <div>{{ pregrado.fecha | date:'MMMM yyyy' }}</div>
                  </li>
                </ul>
              </div>
              
              <div class="educacion-column">
                <h3 class="educacion-title">Posgrados</h3>
                <ul class="educacion-list">
                  <li *ngFor="let posgrado of getPosgradosDeInvestigador(user.numerodocumento)">
                    <strong>{{ posgrado.titulo }}</strong>
                    <div>{{ posgrado.institucion }}</div>
                    <div>{{ posgrado.tipo }}</div>
                    <div>{{ posgrado.fecha | date:'MMMM yyyy' }} </div>
                  </li>
                </ul>
              </div>
            </div>
          </mat-expansion-panel>
        </mat-accordion>
      </div>
    </mat-tab>
    
    <!-- Pestaña de Registro -->
    <mat-tab label="Registro">
      <div class="tab-content">
        <div class="registro-container">
          <h2>Registrarte</h2>
          <form [formGroup]="registroForm">
            <div class="reg">
              <mat-form-field appearance="outline">
                <mat-label>Nombres</mat-label>
                <input matInput autocomplete="off" formControlName="nombre">
                <mat-error *ngIf="registroForm.get('nombre')?.hasError('required')">El nombre es requerido</mat-error>
                <mat-error *ngIf="registroForm.get('nombre')?.hasError('pattern')">Solo se permiten letras y espacios</mat-error>
              </mat-form-field>
              <mat-form-field appearance="outline">
                <mat-label>Apellidos</mat-label>
                <input matInput autocomplete="off" formControlName="apellidos">
                <mat-error *ngIf="registroForm.get('apellidos')?.hasError('required')">Los apellidos son requeridos</mat-error>
                <mat-error *ngIf="registroForm.get('apellidos')?.hasError('pattern')">Solo se permiten letras y espacios</mat-error>
              </mat-form-field>
              <mat-form-field appearance="outline">
                <mat-label>Correo Institucional</mat-label>
                <input type="email" matInput autocomplete="off" formControlName="correo">
                <mat-error *ngIf="registroForm.get('correo')?.hasError('required')">El correo es requerido</mat-error>
                <mat-error *ngIf="registroForm.get('correo')?.hasError('pattern')">Debe ser un correo válido de &#64;unbosque.edu.co</mat-error>
              </mat-form-field>
              <mat-form-field appearance="outline">
                <mat-label>Tipo de documento</mat-label>
                <mat-select formControlName="tipodocumento">
                  <mat-option *ngFor="let tipo of typedocument" [value]="tipo">{{ tipo }}</mat-option>
                </mat-select>
                <mat-error *ngIf="registroForm.get('tipodocumento')?.hasError('required')">El tipo de documento es requerido</mat-error>
              </mat-form-field>
              <mat-form-field appearance="outline">
                <mat-label>Número de documento</mat-label>
                <input type="text" matInput autocomplete="off" formControlName="numerodocumento">
                <mat-error *ngIf="registroForm.get('numerodocumento')?.hasError('required')">El número de documento es requerido</mat-error>
                <mat-error *ngIf="registroForm.get('numerodocumento')?.hasError('pattern')">Solo se permiten números</mat-error>
                <mat-error *ngIf="registroForm.get('numerodocumento')?.hasError('minlength')">Debe tener al menos 9 dígitos</mat-error>
              </mat-form-field>
              <mat-form-field appearance="outline">
                <mat-label>Contraseña</mat-label>
                <input matInput [type]="hide ? 'password' : 'text'" formControlName="contrasena">
                <button mat-icon-button matSuffix (click)="hide = !hide" [attr.aria-label]="'Hide password'" [attr.aria-pressed]="hide">
                  <mat-icon>{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
                </button>
                <mat-error *ngIf="registroForm.get('contrasena')?.hasError('required')">La contraseña es requerida</mat-error>
                <mat-error *ngIf="registroForm.get('contrasena')?.hasError('minlength')">La contraseña debe tener al menos 8 caracteres</mat-error>
                <mat-error *ngIf="registroForm.get('contrasena')?.hasError('pattern')">La contraseña debe incluir al menos una letra mayúscula, un número y un carácter especial</mat-error>
              </mat-form-field>              
              <mat-form-field appearance="outline">
                <mat-label>Confirmar contraseña</mat-label>
                <input matInput [type]="hide ? 'password' : 'text'" formControlName="confirmarContrasena">
                <button mat-icon-button matSuffix (click)="hide = !hide" [attr.aria-label]="'Hide password'" [attr.aria-pressed]="hide">
                  <mat-icon>{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
                </button>
                <mat-error *ngIf="registroForm.get('confirmarContrasena')?.hasError('required')">Confirmar la contraseña es requerido</mat-error>
              </mat-form-field>
            </div>
            <button type="button" class="anchoGuardar" mat-raised-button style="background-color: #6AABA0; color: white;" (click)="guardarUsuario()" [disabled]="registroForm.invalid">Guardar</button>
          </form>
        </div>
      </div>
    </mat-tab>