mat-form-field {
    width: 100%;
  }
  
  .timeline {
    list-style: none;
    position: relative;
  }
  
  .timeline:before {
    top: 36px;
    bottom: 40px;
    position: absolute;
    content: " ";
    width: 6px;
    background-color: #eeeeee;
  }
  
  .timeline > li {
    position: relative;
  }
  
  .timeline > li:before,
  .timeline > li:after {
    content: " ";
    display: table;
  }
  
  .timeline > li:after {
    clear: both;
  }
  
  .timeline > li:before,
  .timeline > li:after {
    content: " ";
    display: table;
  }
  
  .timeline > li:after {
    clear: both;
  }
  
  .timeline > li > .timeline-panel {
    width: 88%;
    float: left;
    border-radius: 2px;
    padding: 8px 20px;
    position: relative;
  }
  
  .timeline > li > .timeline-badge {
    color: #fff;
    width: 20px;
    height: 20px;
    line-height: 20px;
    font-size: 1.4em;
    text-align: center;
    position: absolute;
    top: 16px;
    left: 17px;
    margin-left: -25px;
    background-color: #fff;
    z-index: 100;
    border-top-right-radius: 50%;
    border-top-left-radius: 50%;
    border-bottom-right-radius: 50%;
    border-bottom-left-radius: 50%;
  }
  
  
  
  
  .timeline-badge.done {
    background-color: #c4da50 !important;
  }
  .timeline-badge.fail {
    background-color: #87887e !important;
  }

  .timeline-title {
    margin-top: 0;
    color: inherit;
  }
  
  .timeline-body > p,
  .timeline-body > ul {
    margin-bottom: 0;
  }
  
  .timeline-body > p + p {
    margin-top: 5px;
  }

  mat-radio-group {
    justify-content: center;
    display: flex;
    margin-top: 12px;
}
  
  @media (max-width: 767px) {
    ul.timeline:before {
      left: 40px;
    }
    ul.timeline > li > .timeline-panel {
      width: calc(100% - 90px);
      width: -moz-calc(100% - 90px);
      width: -webkit-calc(100% - 90px);
    }
    ul.timeline > li > .timeline-badge {
      left: 16px;
      margin-left: 0;
      top: 16px;
    }
    ul.timeline > li > .timeline-panel {
      float: right;
    }
    ul.timeline > li > .timeline-panel:before {
      border-left-width: 0;
      border-right-width: 15px;
      left: -15px;
      right: auto;
    }
    ul.timeline > li > .timeline-panel:after {
      border-left-width: 0;
      border-right-width: 14px;
      left: -14px;
      right: auto;
    }
  }