.example-container mat-form-field + mat-form-field {
    margin-left: 8px;
  }
  
  .example-container mat-form-field {
    width: 220px;
  }
  
  .example-container form {
    margin-bottom: 20px;
  }
  
  .example-container form > * {
    margin: 12px 0;
  }
  
  .example-container .mat-radio-button {
    margin: 0 12px;
  }
  
  .example-form-fields {
    display: flex;
    align-items: flex-start;
  }

.custom-input-container mat-select {
  padding: 10px;
  font-size: 16px;
  border-radius: 4px;
  border: 1px solid #ccc;
  background-color: #f9f9f9;
}

.custom-input-container mat-select::ng-deep .mat-select-trigger {
  padding: 10px;
}

.custom-input-container mat-option {
  padding: 10px;
}

.custom-input-container mat-select:focus,
.custom-input-container mat-select.mat-select-focused {
  border-color: #3f51b5; /* Cambia el color del borde al enfocar */
  background-color: #fff; /* Cambia el color de fondo al enfocar */
}
.custom-input-container {
  display: flex;
  flex-direction: column;
  flex: 1 1 300px; /* Permite que los contenedores se reduzcan y crezcan, con un tamaño base de 300px */
  max-width: 300px; /* Ancho máximo para los contenedores */
}

.custom-input-container label {
  margin-bottom: 0.5rem; /* Espacio entre el label y el input */
}

.custom-input-container input,
.custom-chip-list input[matInput] {
  padding: 0.5rem;
  font-size: 1rem;
  width: 100%; /* Para que el input ocupe todo el ancho del contenedor */
  box-sizing: border-box; /* Incluye el padding y border dentro del ancho total del input */
}
.custom-input-container input[matInput]:focus,
.custom-chip-list input[matInput]:focus {
  border-color: #3f51b5; /* Cambia el color del borde al enfocar */
  background-color: #fff; /* Cambia el color de fondo al enfocar */
}

.custom-input-container {
  display: flex;
  flex-direction: column;
  flex: 1; /* Para que cada contenedor de entrada ocupe un espacio igual */
  max-width: 300px; /* Ancho máximo para los contenedores */
}

.custom-input-container input,
.custom-input-container mat-select {
  padding: 0.5rem;
  font-size: 1rem;
  width: 100%; /* Para que el input ocupe todo el ancho del contenedor */
  box-sizing: border-box; /* Incluye el padding y border dentro del ancho total del input */
}

.custom-input-container input:focus,
.custom-input-container mat-select:focus {
  border-color: #3f51b5; /* Cambia el color del borde al enfocar */
  background-color: #fff; /* Cambia el color de fondo al enfocar */
}

.custom-input-container input,
.custom-input-container mat-datepicker-toggle button {
  padding: 0.5rem;
  font-size: 1rem;
  width: 100%; /* Para que el input ocupe todo el ancho del contenedor */
  box-sizing: border-box; /* Incluye el padding y border dentro del ancho total del input */
}

.custom-input-container input:focus,
.custom-input-container mat-datepicker-toggle button:focus {
  border-color: #3f51b5; /* Cambia el color del borde al enfocar */
  background-color: #fff; /* Cambia el color de fondo al enfocar */
}

.custom-input-container {
  display: flex;
  flex-direction: column;
  position: relative; /* Asegura que los elementos absolutos sean relativos a este contenedor */
}

.custom-input-container input,
.custom-input-container mat-datepicker-toggle button {
  padding: 0.5rem;
  font-size: 1rem;
  width: 100%;
  box-sizing: border-box;
}

.custom-input-container mat-datepicker-toggle {
  position: absolute;
  top: 50%;
  right: 8px; /* Ajusta el espaciado del lado derecho según sea necesario */
  transform: translateY(-25%);
}
.custom-input-container {
  flex: 1; /* Ocupa todo el espacio disponible */
}
.custom-input-container {
  display: flex;
  flex-direction: column;
  margin-bottom: 20px;
}

.custom-input-container label {
  font-size: 14px;
  font-weight: bold;
  margin-bottom: 5px;
  color: #555;
}

.custom-input-container input[matInput] {
  padding: 10px;
  font-size: 16px;
  border-radius: 4px;
  border: 1px solid #ccc;
  background-color: #f9f9f9;
  outline: none;
  transition: border-color 0.3s;
}

.custom-input-container input[matInput]:focus {
  border-color: #3f51b5; /* Cambia el color del borde al enfocar */
  background-color: #fff; /* Cambia el color de fondo al enfocar */
}
