<mat-toolbar style="background-color: #6AABA0; color: white;">
    <button mat-icon-button [matMenuTriggerFor]="menu" #menuTrigger="matMenuTrigger" (mouseover)="menuTrigger.openMenu()">
        <mat-icon>menu</mat-icon>
    </button>
    <mat-menu #menu="matMenu" [overlapTrigger]="false">
        <span (mouseleave)="menuTrigger.closeMenu()">
            <button mat-menu-item (click)="navigateSection('investigadores/perfil')">
                <mat-icon>person</mat-icon>
                <span>Perfil</span>
            </button>
            <button mat-menu-item (click)="navigateSection('investigadores/participacion')">
                <mat-icon>group</mat-icon>
                <span>Participacion</span>
            </button>
            <button mat-menu-item (click)="navigateSection('investigadores/consultas')">
                <mat-icon>description</mat-icon>
                <span>Consultas</span>
            </button>
            <button mat-menu-item (click)="navigateSection('investigadores/proyectos')">
                <mat-icon>folder</mat-icon>
                <span>Proyectos y Productos</span>
            </button>
            <button mat-menu-item (click)="logout()">
                <mat-icon>power_settings_new</mat-icon>
                <span>Cerrar Sesión</span>
            </button>
        </span>
    </mat-menu>
    <span class="user-name">{{ getNombreAbreviado() }}</span>

    <!-- Contenedor para centrar "Osiris & Bioaxis" -->
    <div class="toolbar-title">
        Osiris & Bioaxis
    </div>
    <span class="example-spacer"></span>
   
    <button class="notification-button" style="background-color: hsla(0, 100%, 50%, 0); color: white; border-color: hsla(0, 100%, 50%, 0);">
        <span mat-icon-button >
            <span *ngIf="notificaciones.length > 0; else elseBlock">
                <mat-icon [matMenuTriggerFor]="beforeMenu" matBadge="{{notificaciones.length}}" matBadgeColor="warn" aria-hidden="false">notifications_outline</mat-icon>
            </span>
            <ng-template #elseBlock>
                <mat-icon [matMenuTriggerFor]="beforeMenu" aria-hidden="false">notifications_outline</mat-icon>
            </ng-template>
            <mat-menu #beforeMenu="matMenu" xPosition="before">
                <button mat-menu-item (click)="openDialogoNotificaciones()">
                    <span>Ver historial</span>
                </button>
                <button mat-menu-item *ngFor="let item of notificaciones" (click)="limpiarNotificacion(item)">
                    <mat-icon>delete</mat-icon>
                    <span style="font-size: 10px;"><strong>{{item.asunto}}</strong></span><br>
                    <span style="font-size: 10px;">{{item.created_at | date:'medium'}}</span>
                </button>
            </mat-menu>
        </span>
    </button>
    
    
    <mat-form-field appearance="outline" class="custom-mat-field" >
        <input matInput (input)="onSearchInputChange($event)">
        <mat-icon matSuffix>search</mat-icon>
    </mat-form-field>

</mat-toolbar>
<router-outlet></router-outlet>