<h2 mat-dialog-title>{{title}}</h2>
<mat-dialog-content class="mat-typography">
    <div class="example-container">
        <form [formGroup]="registroForm">
            <div class="example-form-fields">
                <mat-form-field class="form-field-spacing" appearance="fill">
                    <mat-label>Número documento</mat-label>
                    <input matInput autocomplete="off" formControlName="numeroDocumento">
                </mat-form-field>
                <mat-form-field class="form-field-spacing2">
                    <mat-label>Tipo documento</mat-label>
                    <mat-select formControlName="tipoDocumento">
                        <mat-option *ngFor="let data of tipoDocumentoData" [value]="data.value">
                            {{data.viewValue}}
                        </mat-option>
                    </mat-select>
                </mat-form-field>
            </div>
            <div class="example-form-fields">
                <mat-form-field class="form-field-spacing" appearance="fill">
                    <mat-label>Nombres</mat-label>
                    <input type="text" matInput autocomplete="off" formControlName="nombres">
                </mat-form-field>
                <mat-form-field class="form-field-spacing" appearance="fill">
                    <mat-label>Apellidos</mat-label>
                    <input type="email" matInput autocomplete="off" formControlName="apellidos">
                </mat-form-field>
            </div>
            <div class="example-form-fields">
                <mat-form-field class="form-field-spacing2" appearance="fill">
                    <mat-label>Semestre</mat-label>
                    <input matInput autocomplete="off" formControlName="semestre">
                </mat-form-field>
                <mat-form-field class="form-field-spacing" appearance="fill">
                    <mat-label>Código grupo</mat-label>
                    <input type="text" matInput autocomplete="off" formControlName="codigoGrupo">
                </mat-form-field>
            </div>
            <div class="example-form-fields">
                <mat-form-field class="form-field-spacing" appearance="fill">
                    <mat-label>Fecha Grado</mat-label>
                    <input matInput [matDatepicker]="picker" formControlName="fechaGrado">
                    <mat-datepicker-toggle matIconSuffix [for]="picker"></mat-datepicker-toggle>
                    <mat-datepicker #picker></mat-datepicker>
                </mat-form-field>
            </div>
            <!--<button type="button" class="anchoGuardar" mat-raised-button style="background-color: #6AABA0;" (click)="guardarUsuario()">Guardar</button>-->
        </form>
    </div>
</mat-dialog-content>
<mat-dialog-actions align="end">
    <button mat-button mat-dialog-close>Cancelar</button>
    <button mat-button (click)="guardarUsuario()" >Crear</button>
</mat-dialog-actions>

