<h2 mat-dialog-title class="dialog-title">Editar Título y Fecha</h2>
<mat-dialog-content>
  <form [formGroup]="form">

    <mat-form-field class="form-field" appearance="fill">
      <mat-label>Título</mat-label>
      <input matInput placeholder="Ingresa el título" formControlName="titulo">
    </mat-form-field>

    <mat-form-field class="form-field" appearance="fill">
      <mat-label>Fecha Límite</mat-label>
      <input matInput [matDatepicker]="picker" formControlName="fecha" [min]="fechaMinima">
      <mat-datepicker-toggle matIconSuffix [for]="picker"></mat-datepicker-toggle>
      <mat-datepicker #picker></mat-datepicker>
    </mat-form-field>
  </form>
</mat-dialog-content>
<mat-dialog-actions align="end">
  <button mat-button class="cancel-button" (click)="onNoClick()">Cancelar</button>
  <button mat-raised-button color="primary" [mat-dialog-close]="form.value" [disabled]="form.invalid">Guardar</button>
</mat-dialog-actions>
