
.tabs {
  position: absolute; 
  top: 100px; 
  left: 160px;  
  width: 80%;
  height: 60%;
}
.mat-tab-group {
    background-color: lightblue !important;
    margin-bottom: 48px;
}
table {
    width: 100%;
}

.titulo{
    display: flex;
    justify-content: space-evenly; /* Distribuye los elementos a lo largo del contenedor */
    margin-top: 60px;
  }
  
  .titulo2{
    display: flex;
    justify-content: space-evenly; /* Distribuye los elementos a lo largo del contenedor */
    margin-top: 5px;
  }
    
  
  .mat-stepper-horizontal {
    margin-top: 8px;
  }
  
  .mat-mdc-form-field {
    margin-top: 16px;
  }
  .reg {
    display: flex;
    justify-content: center;
    margin-left: 70px;
  }
  
  .form-field-spacing {
    margin-right: 30px; /* Ajusta este valor según el espacio deseado entre los mat-form-field */
  }
  .example-chip-list {
    width: 100%;
  }
  .titulo3 {
    display: flex;
    justify-content: space-evenly;
    
  }
  .resumenArt {
    display: flex;
    flex-direction: column; /* Asegúrate de que el contenido fluya verticalmente */
    margin-top: 5px;
    margin-left: 200px; /* Ajusta este valor según sea necesario */
  }
  
  .resumenArt mat-form-field {
    max-width: 600px; /* Agrega esta línea para establecer el ancho máximo */
  }
  
  .resumenArt mat-form-field input {
    height: 100px; /* Ajusta la altura según sea necesario */
    white-space: pre-wrap;
    overflow-wrap: break-word; /* Utiliza overflow-wrap en lugar de word-wrap */
    overflow-y: auto; /* Permite desplazamiento vertical cuando sea necesario */
  }
  
  .anchoGuardar{
    width: 150px;
  }
  .mat-mdc-radio-button ~ .mat-mdc-radio-button {
    margin-left: 16px;
  }
  
.example-chip-list {
  width: 250px; /* Establece la anchura deseada */
}


@media (max-width: 1700px) {
  .tabs {
    margin-left: -130px;
    width: 90%;
  }
  .mat-table {
    width: calc(160% + 400px); /* Ajustar el ancho para compensar el margen izquierdo y derecho */
    overflow-x: auto; /* Agregar desplazamiento horizontal si es necesario */
  }
}


tr.example-detail-row {
  height: 0;
}

tr.example-element-row:not(.example-expanded-row):hover {
  background: whitesmoke;
}

tr.example-element-row:not(.example-expanded-row):active {
  background: #efefef;
}

.example-element-row td {
  border-bottom-width: 0;
}

.example-element-detail {
  overflow: hidden;
  display: flex;
}

.example-element-diagram {
  min-width: 80px;
  border: 2px solid black;
  padding: 8px;
  font-weight: lighter;
  margin: 8px 0;
  height: 104px;
}

.example-element-symbol {
  font-weight: bold;
  font-size: 40px;
  line-height: normal;
}

.example-element-description {
  padding: 16px;
}

.example-element-description-attribution {
  opacity: 0.5;
}
