<h2 mat-dialog-title>{{title}}</h2>
<mat-dialog-content class="mat-typography">
    <div class="example-container">
        <table mat-table [dataSource]="dataSource" >
            <!-- Nombre Column -->
            <ng-container matColumnDef="asunto" class="make-new">
                <th mat-header-cell *matHeaderCellDef> Asunto </th>
                <td mat-cell *matCellDef="let data"> {{ data.asunto }} </td>
            </ng-container>
            <!-- Lider Column -->
            <ng-container matColumnDef="mensaje">
                <th mat-header-cell *matHeaderCellDef> Mensaje </th>
                <td mat-cell *matCellDef="let data"> {{ data.mensaje}} </td>
            </ng-container>
            <ng-container matColumnDef="remitente">
                <th mat-header-cell *matHeaderCellDef> Remitente </th>
                <td mat-cell *matCellDef="let data"> {{ data.remitente}} </td>
            </ng-container>
            <ng-container matColumnDef="created_at">
                <th mat-header-cell *matHeaderCellDef> Fecha </th>
                <td mat-cell *matCellDef="let data"> {{ data.created_at | date:'medium'  }} </td>
            </ng-container>
            <tr mat-header-row  *matHeaderRowDef="displayedColumns"></tr>
            <tr mat-row [ngClass]="{'make-new': row.estado}" *matRowDef="let row; columns: displayedColumns;"></tr>
        </table>
        <mat-paginator [pageSizeOptions]="[5, 10, 20]" showFirstLastButtons aria-label="Select page of periodic elements"></mat-paginator>
    </div>
</mat-dialog-content>
<mat-dialog-actions align="end">
    <button mat-button mat-dialog-close>Cerrar</button>
</mat-dialog-actions>
